body{
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: coral;
    text-align: center;
    margin: 0;
    padding: 20px;

}
nav ul{
    list-style-type:none;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    margin-right: 15px;
    color:maroon;
}
nav a:hover{
    background-color: brown;
    color: black;
    padding: 10px;
}
.home{
    margin: 20px;
    background-color: antiquewhite;
    padding: 20px
}
#meno{
    text-align: center;
}
#btn{
    background-color: brown;
    border: none;
    padding: 10px;
    
    border-radius: 5px;
    
}
#btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    border:none;
}
section{
    background-color: blanchedalmond;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px ;
}
.batt{
    background-color: brown;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

}
.batt a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#btn:hover{
    cursor: pointer;
    background-color: maroon;
    box-shadow: 0 0 10px gray;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.batt:hover{
    cursor: pointer;
    background-color:maroon;
    box-shadow: 0 0 10px gray;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
.container{
    background-color: chocolate;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid maroon;
}
.service{
    background-color: chocolate;
    padding: 10px;
    border: 1px solid maroon;
    margin-bottom: 20px;
    flex: 200px;
    border-radius: 5px;
    
}
.service:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
.service-card{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    

}
#feed{
    text-align: center;
}
#fed{
    text-align: center;
}
footer{
    background-color: maroon;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}
#foot{
    text-align: center;
}
.one{
    text-align: center;
}
.step{
    background-color: chocolate;
    padding: 10px;
    border: 1px solid maroon;
    margin-bottom: 130px;
    width: 80%;
    height: 150px;
}
.team{
    width: 250px;
    height: 200px;
    border-radius: 50%;
}
/* .sect{
    margin-right: 600px;
    margin-left: 200px;
} */
#sect #l{
    list-style-type: none;
}
.logos{
    background-color: whitesmoke;
    padding:20px;
    margin-left: 350px;

}
form{
    background-color: white;
    padding: 20px;
    display: block;
    height: 410px;
}
label,input,textarea{
    display: block;
    width: 100%;
}
#submit{
    background-color: brown;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

}
#submit:hover{
    cursor: pointer;
    background-color:maroon;
    box-shadow: 0 0 10px gray;
    transform: scale(1.02);
    transition: transform 0.3s ease;

}
textarea{
    height: 70px;
}
iframe{
    width: 100%;
    border: 2px solid maroon;
    box-shadow: 0 0 15px maroon;
}
.contact{
    display: flex;
}
#frm{
    width: 700px;
}
#map{
    width: 700px;
}
.abt{
    display: flex;
}
#story{
    width: 700px;
}
#sect{
    width: 700px;
}
.how{
    display: flex;
}
#con{
    width: 700px;
}
#tem{
    width: 700px;
}
.afterheader{
    text-align: center;
}
/* responsiveness */
@media(max-width:768px){
    .contact,.abt,.how{
        flex-direction: column;
    
    }
    section,#story,#sect,#con,#tem,#frm,#map{
        width: 400px;
    }

    

}